/*****************************************************************************/
/********************* Обертка для обычной таблицы ***************************/
.table-adaptive-wrap {
	position: relative;
	overflow: auto;
}

/*****************************************************************************/
/******************** Стили для адаптивной таблицы ***************************/
.table-adaptive {
	width: 100%;
	position: relative;
	display: table;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.table-adaptive__row {
	width: 100%;
	position: relative;
	display: table-row;
	
}

.table-adaptive__cell {
	position: relative;
	padding: 10px;
	display: table-cell;
	border-top: 1px solid #ccc;
	border-left:  1px solid #ccc;
	box-sizing: border-box;
}

.table-adaptive__row:first-child .table-adaptive__cell {
	border-top: none;
}

.table-adaptive__cell:first-child {
	border-left: none;
}

@media all and (max-width: 800px) {
	.table-adaptive, .table-adaptive__cell, .table-adaptive__row {
		display: block;
	}
	
	.table-adaptive {
		border: none;
	}
	
	.table-adaptive__row {
		border-bottom: 1px solid #ccc;
	}
	
	.table-adaptive__row:first-child {
		display: none;
	}
    
    .table-adaptive__cell {
	    border: none;
    }
}