@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 100%;
	vertical-align: baseline;
}

html, body {
	height: 100%;
	color: #000;
}

body, input, textarea {
	font-family: Arial, serif;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
}


.wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.band {
	position: relative;
	padding: 0 20px;
	outline: 1px solid red;
}

/* header begin */
.header {
	width: 100%;
	height: 100px;
	position: relative;
	outline: 1px solid black;
}

/* header end */

/* main begin */
.main-content {
	min-height: 100px;
	position: relative;
	padding: 50px 0;
	overflow: hidden;
}

.main-content table {
	width: 100%;
	border-collapse: collapse;
}

.main-content table th, .main-content table td {
	border: 1px solid #ccc;
	position: relative;
	padding: 10px;
	text-align: left;
}


/* main end */
.clear {
	height: 100px;
	clear: both;
}

/* footer begin */
.footer {
	max-width: 960px;
	height: 100px;
	position: relative;
	margin: -100px auto 0;
	outline: 1px solid black;
}

/* footer end */